<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>Contacts</title>
	</head>
	<body>
		<h1>Show all contacts</h1>
		<ul>
		<% $rolodex.contacts.each do |contact| %>
			<li><%= contact.first_name %> <%= contact.last_name%>, email: <%= contact.email%></li>
		<% end %>
		</ul>
	</body>>
</html>