<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>Sam's new CRM!</title>
	</head>
	<body>
		<h1>Welcome to <%= @crm_app_name %></h1>
		<p>Main menu</p>
		<ul>
			<li><a href="/contacts/new">Add a contact</a></li>
			<li><a href="/contacts">Modify a contact</a></li>
			<li><a href="/contacts">View a contact</a></li>
			<li><a href="/contacts">View all contacts</a></li>
			<li><a href="/contacts">View an attribute</a></li>
			<li><a href="/contacts">Delete a contact</a></li>
			<li><a href="/contacts">Exit</a></li>
		</ul>
	</body>>
</html>