<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>Sam's new CRM!</title>
	<link rel="stylesheet" type = "text/css" href="/style.css">
	</head>
	<body>
	<h1>Welcome to <%= @crm_app_name %></h1>
				<ul>
					<li><a href="/contacts/new">Add contact</a></li>
					<li><a href="/contacts">Modify contact</a></li>
					<li><a href="/contacts">View a contact</a></li>
					<li><a href="/contacts">View all contacts</a></li>
					<li><a href="/contacts">View an attribute</a></li>
					<li><a href="/contacts">Delete contact</a></li>
					<li><a href="/contacts">Exit</a></li>
				</ul>
		</body>
</html>
