<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>Sam's new CRM!</title>
	<link rel="stylesheet" type = "text/css" href="/style.css">
	</head>
	<body>
			<%= yield %>
	</body>
</html>



